@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-body ul,
.catalog-body ul,
.catalog-body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-body a,
.catalog-body a {
  display: block;
  text-decoration: none;
}

.main-body p,
.catalog-body p {
  margin: 0;
}

.button,
.hotel-rating {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: transparent;
}

.subscribe-button,
.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button,
.button-apply,
.like-button {
  background-color: #82b3d3;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.main-link {
  position: relative;
  margin-bottom: -6px;
  margin-right: 30px;
}

.page-nav {
  display: flex;
  flex-grow: 1;
}

.page-header .nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 470px;
}

.nav-list .nav-link {
  padding: 20px 16px;
}

.page-header .nav-user-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 135px;
  margin-left: auto;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.nav-user-list .nav-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.nav-button {
  align-self: center;
  margin-left: 20px;
  padding: 8px 34px;

}

.favorites-value {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.welcome {
  background-image: url("../images/photos/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages .slogan {
  margin-top: 69px;
  margin-bottom: 25px;
}

.advantages .advantages-slogan-description {
  margin-bottom: 90px;
}

.advantages-slogan-description,
.services-slogan-description,
.search-slogan-description,
.subscribe-slogan-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:not(.advantages-item-photo),
.services-item {
  max-width: 400px;
}

.advantages-image {
  display: block;
}

.text {
  color: #333333;
}

.blue {
  box-sizing: border-box;
  padding: 102px 85px;
  color: #ffffff;
  background-color: #82b3d3;
}

.blue .advantages-description {
  color: #ffffff;
}

.light-blue {
  box-sizing: border-box;
  padding: 112.5px 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.extra-light-blue {
  box-sizing: border-box;
  padding: 112.5px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-list {
  display: flex;
}

.services-item {
  box-sizing: border-box;
  padding: 81px 85px;
}

.services .services-slogan {
  margin-top: 64px;
  margin-bottom: 20px;
}

.services .services-slogan-description {
  margin-bottom: 64px;
}

.services-title,
.advantages-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  margin-bottom: 62px;
}

.services-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-description,
.services-description {
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.search .search-slogan {
  margin-bottom: 20px;
}

.search-button {
  margin: 54px auto 0;
  padding: 8px 50px;
}

.subscribe {
  padding: 96px 258px 104px;
  color: #ffffff;
  background-image: url("../images/photos/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe .slogan {
  margin-bottom: 20px;
}

.subscribe .subscribe-slogan-description {
  margin-bottom: 54px;
}

.subscribe-light {
  color: inherit;
  background: initial;
}

.subscribe-form {
  display: flex;
}

.email {
  flex-grow: 1
}

.field {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 20px;
  border: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.subscribe-button {
  padding: 8px 50px;
}

.page-footer {
  padding: 40px 70px 30px;
}

.contacts {
  display: flex;
}

.footer-social {
  display: flex;
  flex-grow: 1;
}

.contacts .footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 190px;
}

.social-link {
  min-width: 18px;
  min-height: 18px;
  padding: 0 10px;
}

.contacts-address-phone {
  align-self: center;
  margin: 0 auto;
  padding: 5px 195px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.footer-logo {
  display: block;
}

.footer-logo-link {
  padding: 8.5px 0;
}

.top-background-wrapper {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/photos/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-header .breadcrumbs-list {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group-left {
  margin-right: 70px;
}

.control {
  display: flex;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input-name {
  margin-left: 16px;
  line-height: 23px;
}

.catalog-filter-group-right {
  margin-left: auto;
  margin-right: 70px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button-apply {
  margin-bottom: 32px;
  padding: 8px 50px;
}

.button-reset {
  padding: 8px 50px;
  background-color: transparent;
}

.catalog-wrapper {
  padding: 50px 70px 60px 70px;
}

.total-filter-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.total-filter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  flex-grow: 1;
  max-width: 292px;
  margin-left: auto;
  margin-right: 70px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.view-buttons {
  display: flex;
  gap: 8px;
}

.button-cards-view {
  padding: 17px 16px;
}

.catalog-wrapper .hotel-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  margin-right: 20px;
  padding: 20px;
}

.hotel-card:nth-child(3) {
  margin-right: 0px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-price {
  text-align: right;
}

.hotel-more-button {
  box-sizing: border-box;
  max-width: 140px;
  padding: 8px 26px;
}

.like-button {
  max-width: 140px;
  padding: 8px 20px;
}

.like-button-active {
  max-width: 140px;
  padding: 8px 18px;
  background-color: #7DB54F;
}

.hotel-rating {
  display: block;
  box-sizing: border-box;
  max-width: 140px;
  padding: 8px 18px;
  font-weight: 400;
  background-color: #f2f2f2;
}

.pagination-list {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  box-sizing: border-box;
  padding: 15px;
  min-width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}
.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-show-more {
  width: 60px;
  height: 60px;
  color: #000000;
  background-color: #ffffff;
}
