@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.main-body ul,
.catalog-body ul,
.catalog-body ol {
  list-style-type: none;
}

.main-body a,
.catalog-body a {
  text-decoration: none;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.favorites-value {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.button,
.hotel-rating {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: transparent;
}

.subscribe-button,
.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button,
.button-apply,
.like-button {
  background-color: #82b3d3;
}

.welcome {
  background-image: url("../images/photos/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: #333333;
}

.advantages-slogan-description,
.services-slogan-description,
.search-slogan-description,
.subscribe-slogan-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.blue {
  color: #ffffff;
  background-color: #82b3d3;
}

 .blue .advantages-description {
  color: #ffffff;
 }

 .light-blue {
  background-color: rgba(131, 179, 211, 0.2);
 }

 .extra-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
 }

.services-title,
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description,
.services-description {
  text-align: center;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/photos/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-light {
  color: inherit;
  background: initial;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.top-background-wrapper {
  color: #ffffff;
  background-image: url("../images/photos/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.button-reset {
  background-color: transparent;
}

.total-filter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-price {
  text-align: right;
}

.hotel-rating {
  font-weight: 400;
  background-color: #f2f2f2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}
.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-show-more {
  color: #000000;
  background-color: #ffffff;
}
